<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/XBlast2016/src/ch/epfl/xblast/server/main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.epfl.xblast.server.main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="XBlast2016"/>
</launchConfiguration>
